JWT_SECRET=
PUBLIC_DOMAIN=
TRAEFIK_DOMAIN=
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DATABASE=

# Torrentio
TORRENTIO_BASE_URL=https://torrentio.strem.fun
TORRENTIO_PROVIDERS=wolfmax4k
TORRENTIO_LANGUAGES=spanish,english
TORRENTIO_TIMEOUT_SECONDS=15
TORRENTIO_CACHE_TTL_SECONDS=60
TORRENTIO_PROXY=
# Alternativa para construir el proxy desde la tabla config
TORRENTIO_PROXY_IP=
TORRENTIO_PROXY_PORT=
TORRENTIO_PROXY_USER=
TORRENTIO_PROXY_PASS=
